[Unit]
Description=Mount unit for /run/kata-containers
Before=kata-agent.service

[Mount]
What=tmpfs
Where=/run/kata-containers
Type=tmpfs
Options=mode=755

[Install]
WantedBy=multi-user.target
