#Directories
install/runtime-payload/bin
pause_bundle
output
staticlib
pause
umoci
skopeo
files/usr

# Binaries
agent-protocol-forwarder
cloud-api-adaptor

# IDEs
.vscode

# Files
vcenter.auto.pkrvars.hcl
settings.auto.pkrvars.hcl
