#Directories
src/cloud-api-adaptor/install/runtime-payload/bin
src/cloud-api-adaptor/pause_bundle
src/cloud-api-adaptor/output
src/cloud-api-adaptor/staticlib
src/cloud-api-adaptor/pause
src/cloud-api-adaptor/umoci
src/cloud-api-adaptor/skopeo
src/csi-wrapper/build
src/csi-wrapper/vendor
src/cloud-providers/bin

# Binaries
src/cloud-api-adaptor/agent-protocol-forwarder
src/cloud-api-adaptor/api-server-rest
src/cloud-api-adaptor/attestation-agent
src/cloud-api-adaptor/caa-provisioner-cli
src/cloud-api-adaptor/cloud-api-adaptor
src/cloud-api-adaptor/cluster-provisioner
src/cloud-api-adaptor/confidential-data-hub
src/cloud-api-adaptor/kata-agent
src/cloud-api-adaptor/process-user-data

# The code files under cmd are not ignored
!src/cloud-api-adaptor/cmd/*

# Ignore the contents of the certificates directory
src/cloud-api-adaptor/podvm/files/etc/certificates/*

# IDEs
.vscode

# Files
vcenter.auto.pkrvars.hcl
settings.auto.pkrvars.hcl
src/cloud-api-adaptor/*.qcow2
.git-commit
.git-commit.tmp
*.tar.gz

# Secrets
install/overlays/gcp/GCP_CREDENTIALS
install/charts/peerpods/providers/*-secrets.yaml

# Helm chart dependencies
**/charts/*.tgz
**/install/charts/peerpods/charts/
