apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../yamls

images:
  - name: cloud-api-adaptor
    newName: quay.io/confidential-containers/cloud-api-adaptor # change image if needed
    newTag: latest

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: peer-pods-cm
    namespace: confidential-containers-system
    literals:
      - CLOUD_PROVIDER="docker"
      - CLOUD_CONFIG_VERIFY="false" # It's better set as true to enable could config verify in production env
    #- DISABLECVM="true" # set as false to enable confidential VM
    #- DOCKER_HOST="unix:///var/run/docker.sock" # Uncomment and set if you want to use a specific docker host
    #- DOCKER_API_VERSION="1.44" # Uncomment and set if you want to use a specific docker api version
    #- DOCKER_TLS_VERIFY="false" # Uncomment and set if you want to use tls
    #- DOCKER_CERT_PATH="" # Uncomment and set if you want to use tls
    #- DOCKER_PODVM_IMAGE="quay.io/confidential-containers/podvm-docker-image" # Uncomment and set if you want to use a specific podvm image
    #- DOCKER_NETWORK_NAME="bridge" # Uncomment and set if you want to use a specific docker network
    #- PAUSE_IMAGE="" # Uncomment and set if you want to use a specific pause image
    #- TUNNEL_TYPE="" # Uncomment and set if you want to use a specific tunnel type. Defaults to vxlan
    #- VXLAN_PORT="" # Uncomment and set if you want to use a specific vxlan port. Defaults to 4789
    #- PEERPODS_LIMIT_PER_NODE="10" # Max number of peer pods that can be created per node. Default is 10
    #- REMOTE_HYPERVISOR_ENDPOINT="/run/peerpod/hypervisor.sock" # Path to Kata remote hypervisor socket. Default is /run/peerpod/hypervisor.sock
    #- PEER_PODS_DIR="/run/peerpod/pods" # Path to peer pods directory. Default is /run/peerpod/pods
##TLS_SETTINGS
#- CACERT_FILE="/etc/certificates/ca.crt" # for TLS
#- CERT_FILE="/etc/certificates/client.crt" # for TLS
#- CERT_KEY="/etc/certificates/client.key" # for TLS
#- TLS_SKIP_VERIFY="" # for testing only
##TLS_SETTINGS

secretGenerator:
  - name: peer-pods-secret
    namespace: confidential-containers-system
    literals:
      - DUMMY_USER="dummy"
##TLS_SETTINGS
#- name: certs-for-tls
#  namespace: confidential-containers-system
#  files:
#  - <path_to_ca.crt> # set - relative path to ca.crt, located either in the same folder as the kustomization.yaml file or within a subfolder
#  - <path_to_client.crt> # set - relative path to client.crt, located either in the same folder as the kustomization.yaml file or within a subfolder
#  - <path_to_client.key> # set - relative path to client.key, located either in the same folder as the kustomization.yaml file or within a subfolder
##TLS_SETTINGS

patchesStrategicMerge:
  ##TLS_SETTINGS
  #- tls_certs_volume_mount.yaml # set (for tls)
  ##TLS_SETTINGS
  - docker_mount.yaml
