/.bluemix
/*.img
/*.qcow2
/src_mnt
/dst_mnt
/skopeo
/umoci
/pause
/staticlib
/files/usr/local/bin/agent-protocol-forwarder
/files/usr/local/bin/kata-agent
/files/usr/bin/skopeo
/files/usr/local/bin/umoci
/files/pause_bundle
