bases:
- ../../yamls
nameSuffix: -libvirt

images:
- name: kustomize.this/cloud-api-adaptor/image:url
  newName: quay.io/confidential-containers/cloud-api-adaptor-libvirt # change image if needed
  newTag: latest

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: peer-pods-cm
  namespace: confidential-containers-system
  literals:
  - CLOUD_PROVIDER="libvirt"
  - LIBVIRT_URI="qemu+ssh://root@192.168.122.1/system?no_verify=1" #set
  - LIBVIRT_NET="default" # set
  - LIBVIRT_POOL="default" # set
  #- PAUSE_IMAGE="" # Uncomment and set if you want to use a specific pause image
  #- VXLAN_PORT="" # Uncomment and set if you want to use a specific vxlan port. Defaults to 4789

secretGenerator:
- name: auth-json-secret
  namespace: confidential-containers-system
  files:
  #- auth.json # set - path to auth.json pull credentials file
- name: ssh-key-secret
  namespace: confidential-containers-system
  files: # key generation example: ssh-keygen -f ./id_rsa -N "" && sudo cat id_rsa.pub >> /root/.ssh/authorized_keys
   #- id_rsa # set - path to private key
- name: peer-pods-secret
  namespace: confidential-containers-system
  literals:

patchesStrategicMerge:
  #- cri_runtime_endpoint.yaml # set (modify host's runtime cri socket path in the file, default is /run/containerd/containerd.sock)
