apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: namespace
    app.kubernetes.io/instance: system
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: peerpodctrl
    app.kubernetes.io/part-of: peerpodctrl
  name: {{ .Values.namespace }}
