apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../yamls

images:
- name: cloud-api-adaptor
  newName: quay.io/confidential-containers/cloud-api-adaptor # change image if needed
  newTag: latest

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: peer-pods-cm
  namespace: confidential-containers-system
  literals:
  - CLOUD_PROVIDER="vsphere"
  - ENABLE_CLOUD_PROVIDER_EXTERNAL_PLUGIN="false" # flag to enable/disable dynamically load cloud provider external plugin feature
  - CLOUD_CONFIG_VERIFY="false" # It's better set as true to enable could config verify in production env
  - GOVC_URL=""        # Setting the vCenter URL is required.
  - GOVC_DATACENTER="" # Setting the vCenter datacenter is required.

  #- GOVC_TEMPLATE=""  # Uncomment and set if you want to clone the peerpod VM from an existing
                       # GOVC_DATACENTER template other than the default name podvm-template.

  #- GOVC_DRS=""       # Uncomment and set to true if you want vCenter DRS to determine the peerpod VM placement.
                       # A DRS Automation=Manual configured GOVC_VCLUSTER in your GOVC_DATACENTER must be indicated as well.

  #- GOVC_VCLUSTER=""  # Uncomment and set to place your peerpod VM on an existing vCenter cluster in your GOVC_DATACENTER.
                       # If GOVC_DRS is selected a DRS cluster is required.

  #- GOVC_HOST=""      # Uncomment and set to place your peerpod VM on an existing host in your GOVC_DATACENTER.
                       # If not using DRS a host name is required.
                       # If using DRS the host name is ignored.

  #- GOVC_DATASTORE="" # Uncomment and set to place your peerpod VM on your GOVC_HOST datastore in your GOVC_DATACENTER.
                       # If not using DRS a datastore name is required.
                       # If using DRS the datastore name is ignored.

  #- GOVC_FOLDER=""    # Uncomment to place your peerpod VM in an existing desintation folder
                       # or create a new one if it does not exist in the VM inventory path
                       # (GOVC_DATACENTER/vm/GOVC_FOLDER).

  #- PAUSE_IMAGE=""    # Uncomment and set if you want to use a specific pause image
  #- TUNNEL_TYPE=""    # Uncomment and set if you want to use a specific tunnel type.
                       # Defaults to vxlan
  #- VXLAN_PORT=""     # Uncomment and set to use "9000" or change if you want to use a specific vxlan port.
                       # Defaults to 4789.
  #- PEERPODS_LIMIT_PER_NODE="10" # Max number of peer pods that can be created per node. Default is 10
  #- REMOTE_HYPERVISOR_ENDPOINT="/run/peerpod/hypervisor.sock" # Path to Kata remote hypervisor socket. Default is /run/peerpod/hypervisor.sock
  #- PEER_PODS_DIR="/run/peerpod/pods" # Path to peer pods directory. Default is /run/peerpod/pods
##TLS_SETTINGS
  #- CACERT_FILE="/etc/certificates/ca.crt" # for TLS
  #- CERT_FILE="/etc/certificates/client.crt" # for TLS
  #- CERT_KEY="/etc/certificates/client.key" # for TLS
  #- TLS_SKIP_VERIFY="" # for testing only
##TLS_SETTINGS

secretGenerator:
- name: peer-pods-secret
  namespace: confidential-containers-system
  literals:
  - GOVC_USERNAME=""    # Setting the vCenter username is required.

  - GOVC_PASSWORD=""    # Setting the vCenter password is required.

  #- GOVC_THUMBPRINT="" # Uncomment and set if you want secure mode with this vCenter.
                        # GOVC_THUMBPRINT contains the SHA1 thumbprint of the vCenter certificate.
##TLS_SETTINGS
#- name: certs-for-tls
#  namespace: confidential-containers-system
#  files:
#  - <path_to_ca.crt> # set - relative path to ca.crt, located either in the same folder as the kustomization.yaml file or within a subfolder
#  - <path_to_client.crt> # set - relative path to client.crt, located either in the same folder as the kustomization.yaml file or within a subfolder
#  - <path_to_client.key> # set - relative path to client.key, located either in the same folder as the kustomization.yaml file or within a subfolder
##TLS_SETTINGS

patchesStrategicMerge:
##TLS_SETTINGS
  #- tls_certs_volume_mount.yaml # set (for tls)
##TLS_SETTINGS
