[Unit]
Description=Agent Protocol Forwarder
After=kata-agent.service process-user-data.service
Wants=process-user-data.service
DefaultDependencies=no

[Service]
Type=notify
EnvironmentFile=-/etc/default/agent-protocol-forwarder
ExecStart=/usr/local/bin/agent-protocol-forwarder -pod-namespace /run/netns/podns -kata-agent-socket /run/kata-containers/agent.sock $TLS_OPTIONS $OPTIONS
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
