[Unit]
Description=Attestation Agent TTRPC API Server
After=network.target cloud-init.service process-user-data.service

[Service]
Type=simple
ExecStartPre=mkdir -p /run/confidential-containers/attestation-agent
ExecStart=/usr/local/bin/attestation-agent -c /run/peerpod/aa.toml
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
