[Unit]
Description=Confidential Data Hub TTRPC API Server
After=network.target cloud-init.service process-user-data.service

[Service]
Type=simple
Environment=OCICRYPT_KEYPROVIDER_CONFIG=/etc/ocicrypt_config.json
ExecStart=/bin/bash -c \
    'if [ -f /run/peerpod/cdh.toml ]; \
    then /usr/local/bin/confidential-data-hub -c /run/peerpod/cdh.toml; \
    else /usr/local/bin/confidential-data-hub; \
    fi'
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
