[Unit]
Description=Kata Agent
BindsTo=netns@podns.service
After=netns@podns.service process-user-data.service scratch-storage.service
Wants=scratch-storage.service

[Service]
ExecStartPre=mkdir -p /run/kata-containers
ExecStart=/usr/local/bin/kata-agent --config /etc/agent-config.toml
ExecStartPre=-umount /sys/fs/cgroup/misc
ExecStopPost=/usr/local/bin/kata-agent-clean --config /etc/agent-config.toml
SyslogIdentifier=kata-agent

[Install]
WantedBy=multi-user.target
