# One-shot systemd service for running the process-user-data binary
# It must run before kata-agent.service

[Unit]
Description=Process user data
After=network.target
DefaultDependencies=no


[Service]
Type=oneshot
ExecStart=/usr/local/bin/process-user-data provision-files
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
