# One-shot systemd service for running the process-user-data binary
# It must run before kata-agent.service

[Unit]
Description=Process user data and update
After=network.target cloud-final.service process-user-data-provision
DefaultDependencies=no


[Service]
Type=oneshot
ExecStart=/usr/local/bin/process-user-data update-agent-config
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
PartOf=process-user-data-provision.service
