# this should be enabled by misc-settings.sh
[Unit]
Description=Setup NAT for IMDS
After=agent-protocol-forwarder.service netns@podns.service
Wants=agent-protocol-forwarder.service netns@podns.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-nat-for-imds.sh

[Install]
WantedBy=multi-user.target
