[Unit]
Description=Agent Protocol Forwarder
After=cloud-init.target kata-agent.service
Wants=cloud-init.target kata-agent.service
DefaultDependencies=no


[Service]
Type=notify
EnvironmentFile=-/etc/default/agent-protocol-forwarder
ExecStart=/usr/local/bin/agent-protocol-forwarder -kata-agent-namespace /run/netns/podns -kata-agent-socket /run/kata-containers/agent.sock $TLS_OPTIONS
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
