[Unit]
Description=CDH API Server Rest Service
BindsTo=netns@podns.service
After=network.target kata-agent.service netns@podns.service

[Service]
Type=simple
NetworkNamespacePath=/run/netns/podns
ExecStart=/usr/local/bin/api-server-rest --features all
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
