[Unit]
Description=Mount unit for /run/kata-containers
Before=kata-agent.service

[Mount]
What=/kata-containers
Where=/run/kata-containers
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
