[Unit]
Description=Secure Key Release Service
BindsTo=netns@podns.service attester.service
Wants=attester.service
After=network.target netns@podns.service attester.service

[Service]
Type=simple
NetworkNamespacePath=/run/netns/podns
BindReadOnlyPaths=/etc/skr-api.resolv.conf:/etc/resolv.conf:norbind
ExecStart=/usr/local/bin/skr-api -s /run/confidential-containers/attester.sock -k https://kbs.tailcca2d.ts.net
Restart=always

[Install]
WantedBy=multi-user.target
