OPENSTACK_IDENTITY_ENDPOINT=<IDENTITY_ENDPOINT>
OPENSTACK_USERNAME=<USERNAME>
OPENSTACK_PASSWORD=<PASSWORD>
OPENSTACK_TENANT_NAME=<TENANT_NAME>
OPENSTACK_DOMAIN_NAME=<DOMAIN_NAME>
OPENSTACK_REGION=<REGION>
