[Unit]
Description=Mount cloud-config ISO with label 'cidata'

[Mount]
What=/dev/disk/by-label/cidata
Where=/run/media/cidata
Type=iso9660
Options=ro

[Install]
WantedBy=multi-user.target
