# No cloud credentials required for byom
# Note: SSH keys for VM access are handled differently as secrets.mode is:
# - reference: you should create the ssh-key-secret secret yourself.
# - create: you should uncomment below lines and fill both id_rsa and id_rsa_pub fields
#
# providerSecrets:
#   byom:
#     id_rsa: |
#       -----BEGIN OPENSSH PRIVATE KEY-----
#       ...
#       -----END OPENSSH PRIVATE KEY-----
#     id_rsa_pub: |
#       ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC... user@host
