# No cloud credentials required for libvirt
# Note: SSH key for hypervisor connection is handled differently as secrets.mode is:
# - reference: you should create the ssh-key-secret secret yourself.
# - create: you should uncomment below lines and fill the id_rsa field
#
# providerSecrets:
#   libvirt:
#     id_rsa: |
#       -----BEGIN OPENSSH PRIVATE KEY-----
#       ...
#       -----END OPENSSH PRIVATE KEY-----
