apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../yamls

images:
- name: cloud-api-adaptor
  newName: quay.io/confidential-containers/cloud-api-adaptor # change image if needed
  newTag: 05d8f49c1d24f5c0a130db1e551a90fefabb0dee

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: peer-pods-cm
  namespace: confidential-containers-system
  literals:
  - CLOUD_PROVIDER="ibmcloud"
  - ENABLE_CLOUD_PROVIDER_EXTERNAL_PLUGIN="false" # flag to enable/disable dynamically load cloud provider external plugin feature
  - CLOUD_CONFIG_VERIFY="false" # It's better set as true to enable could config verify in production env
  - IBMCLOUD_VPC_ENDPOINT="" #set
  - IBMCLOUD_RESOURCE_GROUP_ID="" #set
  - IBMCLOUD_SSH_KEY_ID="" #set
  - IBMCLOUD_PODVM_IMAGE_ID="" #set
  - IBMCLOUD_PODVM_INSTANCE_PROFILE_NAME="" #set
  - IBMCLOUD_PODVM_INSTANCE_PROFILE_LIST="" #optional, comma separated list
  - IBMCLOUD_ZONE="" #set
  - IBMCLOUD_VPC_SUBNET_ID="" #set
  - IBMCLOUD_VPC_SG_ID="" #set
  - IBMCLOUD_VPC_ID="" #set
  - CRI_RUNTIME_ENDPOINT="/run/cri-runtime/containerd.sock"
  #- PAUSE_IMAGE="" # Uncomment and set if you want to use a specific pause image
  #- VXLAN_PORT="" # Uncomment and set if you want to use a specific vxlan port. Defaults to 4789
##TLS_SETTINGS
  #- CACERT_FILE="/etc/certificates/ca.crt" # for TLS
  #- CERT_FILE="/etc/certificates/client.crt" # for TLS
  #- CERT_KEY="/etc/certificates/client.key" # for TLS
  #- TLS_SKIP_VERIFY="" # for testing only
##TLS_SETTINGS

secretGenerator:
- name: auth-json-secret
  namespace: confidential-containers-system
  files:
  #- auth.json # set - path to auth.json pull credentials file
- name: peer-pods-secret
  namespace: confidential-containers-system
  literals:
##IAM PROFILE SETTINGS
  - IBMCLOUD_IAM_PROFILE_ID="" # set
##/IAM PROFILE SETTINGS
  - IBMCLOUD_API_KEY="" # set if not using IAM profile ID
  - IBMCLOUD_IAM_ENDPOINT="" #set
  - IBMCLOUD_ZONE="" #set
##TLS_SETTINGS
#- name: certs-for-tls
#  namespace: confidential-containers-system
#  files:
#  - <path_to_ca.crt> # set - relative path to ca.crt, located either in the same folder as the kustomization.yaml file or within a subfolder
#  - <path_to_client.crt> # set - relative path to client.crt, located either in the same folder as the kustomization.yaml file or within a subfolder
#  - <path_to_client.key> # set - relative path to client.key, located either in the same folder as the kustomization.yaml file or within a subfolder
##TLS_SETTINGS

patchesStrategicMerge:
  - kata_direct_volumes_mount.yaml # set (for volumes/csi-wrapper)
##IAM PROFILE SETTINGS
  - cr_token_projection.yaml
##/IAM PROFILE SETTINGS
##TLS_SETTINGS
# - tls_certs_volume_mount.yaml # set (for tls)
##TLS_SETTINGS
