# If the WorkerNode is not on ACK
# ALIBABACLOUD_ACCESS_KEY_ID=<AK-ID>
# ALIBABACLOUD_ACCESS_KEY_SECRET=<AK-Secret>

# If the WorkerNode is on ACK, we use RRSA to authenticate
ALIBABA_CLOUD_ROLE_ARN=<role-ARN>
ALIBABA_CLOUD_OIDC_PROVIDER_ARN=<rrsa-ARN>
ALIBABA_CLOUD_OIDC_TOKEN_FILE=/var/run/secrets/ack.alibabacloud.com/rrsa-tokens/token