[Unit]
Description=Mount unit for /run/image
Before=kata-agent.service

[Mount]
What=/image
Where=/run/image
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
