name: (Callable) Build and push cloud-api-adaptor image

on:
  workflow_call:
    inputs:
      registry:
        default: 'quay.io/confidential-containers'
        description: 'Image registry (e.g. "quay.io/confidential-containers") where the built image will be pushed to'
        required: false
        type: string
      dev_arches:
        default: 'linux/amd64'
        description: 'Dev build arches. Expected a docker buildx "--platform" string format'
        required: false
        type: string
      dev_tags:
        default: ''
        description: 'Comma-separated list of tags for the dev built image (e.g. latest,ci-dev). By default uses the values from hack/build.sh'
        required: false
        type: string
      release_arches:
        default: 'linux/amd64,linux/s390x,linux/ppc64le'
        description: 'Release build arches. Expected a docker buildx "--platform" string format'
        required: false
        type: string
      release_tags:
        default: ''
        description: 'Likewise but for the release built image'
        required: false
        type: string
      git_ref:
        default: 'main'
        description: Git ref to checkout the cloud-api-adaptor repository. Defaults to main.
        required: false
        type: string
      runner:
        default: 'ubuntu-24.04'
        description: The runner to execute the workflow on. Defaults to 'ubuntu-24.04'.
        required: false
        type: string
    secrets:
      QUAY_PASSWORD:
        required: true

defaults:
  run:
    working-directory: src/cloud-api-adaptor

jobs:
  build_push_job:
    name: build and push
    runs-on: ${{ inputs.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - type: dev
            arches: ${{ inputs.dev_arches }}
          - type: release
            arches: ${{ inputs.release_arches }}
    steps:
      - name: Checkout the code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
          ref: "${{ inputs.git_ref }}"

      - name: Rebase the code
        if: github.event_name == 'pull_request_target'
        working-directory: ./
        run: |
          ./hack/ci-helper.sh rebase-atop-of-the-latest-target-branch

      - name: Read properties from versions.yaml
        run: |
          sudo snap install yq
          go_version="$(yq '.tools.golang' versions.yaml)"
          [ -n "$go_version" ]
          echo "GO_VERSION=${go_version}" >> "$GITHUB_ENV"

      - name: Setup Golang version ${{ env.GO_VERSION }}
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: "**/go.sum"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3
      - name: Install build dependencies
        if: matrix.type == 'dev'
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libvirt-dev
      - name: Login to quay Container Registry
        if: ${{ startsWith(inputs.registry, 'quay.io') }}
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ vars.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Login to Github Container Registry
        if: ${{ startsWith(inputs.registry, 'ghcr.io') }}
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          # We are not interested in timeout but this field is required
          # so setting to 4x the time it usually take to complete.
          timeout_minutes: 60
          retry_wait_seconds: 120
          max_attempts: 3
          command: |
            if [ ${{ matrix.type }} == "release" ]; then
              cd src/cloud-api-adaptor && ARCHES=${{matrix.arches}} RELEASE_BUILD=true RELEASE_TAGS=${{ inputs.release_tags}} make image registry=${{ inputs.registry }}
            else
              cd src/cloud-api-adaptor && ARCHES=${{matrix.arches}} RELEASE_BUILD=false DEV_TAGS=${{ inputs.dev_tags }} make image registry=${{ inputs.registry }}
            fi
