# (C) Copyright Confidential Containers Contributors 2023.
# SPDX-License-Identifier: Apache-2.0
#
# Build and push csi wrapper images for each arch.
---
name: csi wrapper images

on:
  push:
    branches:
      - 'main'
    paths:
      - 'volumes/csi-wrapper/**'
  workflow_dispatch:

env:
  go_version: "1.20.6"

jobs:
  build_push_job:
    name: build and push
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        binary:
          - csi-controller-wrapper
          - csi-node-wrapper
          - csi-podvm-wrapper
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Golang version ${{ env.go_version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.go_version }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to quay Container Registry
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          tags: |
            quay.io/confidential-containers/${{matrix.binary}}:latest
            quay.io/confidential-containers/${{matrix.binary}}:${{ github.sha }}
          push: true
          context: volumes/csi-wrapper
          platforms: linux/amd64, linux/s390x, linux/ppc64le
          file: volumes/csi-wrapper/Dockerfile.csi_wrappers
          build-args: |
            "BINARY=${{matrix.binary}}"
            "SOURCE_FROM=remote"
