# (C) Copyright Confidential Containers Contributors 2023.
# SPDX-License-Identifier: Apache-2.0
#
# Build and push csi wrapper images for each arch.
---
name: (Callable) Build and push CSI wrapper images

on:
  workflow_call:
    inputs:
      registry:
        default: 'quay.io/confidential-containers'
        description: 'Image registry (e.g. "ghcr.io/confidential-containers") where the built image will be pushed to'
        required: false
        type: string
      image_tags:
        default: ''
        description: 'Comma-separated list of tags for the dev built image (e.g. latest,ci-dev). By default uses the values from hack/build.sh'
        required: true
        type: string
      git_ref:
        default: 'main'
        description: Git ref to checkout the cloud-api-adaptor repository. Defaults to main.
        required: false
        type: string

jobs:
  build_push_job:
    name: build and push
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        binary:
          - csi-controller-wrapper
          - csi-node-wrapper
          - csi-podvm-wrapper
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: "${{ inputs.git_ref }}"
      - name: Read properties from versions.yaml
        run: |
          go_version="$(yq '.tools.golang' versions.yaml)"
          [ -n "$go_version" ]
          echo "GO_VERSION=${go_version}" >> "$GITHUB_ENV"
      - name: Setup Golang version ${{ env.GO_VERSION }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to quay Container Registry
        if: ${{ startsWith(inputs.registry, 'quay.io') }}
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Login to Github Container Registry
        if: ${{ startsWith(inputs.registry, 'ghcr.io') }}
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Determine tags
        id: tags
        run: |
          tags="${{ inputs.image_tags }}"
          tags_new=""
          for t in ${tags/,/ }; do
          tags_new+="${{ inputs.registry }}/${{matrix.binary}}:${t},"
          done
          echo "tags=${tags_new}" >> "$GITHUB_OUTPUT"
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          tags: ${{ steps.tags.outputs.tags }}
          push: true
          context: volumes/csi-wrapper
          platforms: linux/amd64, linux/s390x, linux/ppc64le
          file: volumes/csi-wrapper/Dockerfile.csi_wrappers
          build-args: |
            "BINARY=${{matrix.binary}}"
            "SOURCE_FROM=remote"
