# (C) Copyright Confidential Containers Contributors 2022.
# SPDX-License-Identifier: Apache-2.0
#
# Build and push container images for each cloud provider.
---
name: image

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  build_push_job:
    name: build and push
    uses: ./.github/workflows/caa_build_and_push.yaml
    secrets: inherit
