# (C) Copyright Red Hat 2022.
# SPDX-License-Identifier: Apache-2.0
#
# Run linting tools on the sources of the project.
---
name: lint
on: [pull_request]
jobs:
  golangci-lint_job:
    name: golangci-lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        go_version:
          - 1.18
    steps:
      - name: Checkout the pull request code
        uses: actions/checkout@v3
      - name: Setup Golang version ${{ matrix.go_version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go_version }}
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v1.46.2

  go_check:
    strategy:
      matrix:
        provider:
          # Please keep this list in alphabetical order.
          - aws
          - azure
          - ibmcloud
          - libvirt
          - vsphere
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-go@main
        with:
          go-version: 1.18
      - name: Install build dependencies
        if: ${{ matrix.provider == 'libvirt' }}
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libvirt-dev
      - name: check
        run: make CLOUD_PROVIDER=${{ matrix.provider }} check
      - name: escapes
        run: make CLOUD_PROVIDER=${{ matrix.provider }} escapes
