# Copyright Confidential Containers Contributors
# SPDX-License-Identifier: Apache-2.0
#
# Push peerpod-ctrl image
---
name: (Callable) Build and push peerpod-ctrl image

on:
  workflow_call:
    inputs:
      registry:
        default: 'quay.io/confidential-containers'
        description: 'Image registry (e.g. "ghcr.io/confidential-containers") where the built image will be pushed to'
        required: false
        type: string
      image_tags:
        description: 'Comma-separated list of tags for the dev built image (e.g. latest,ci-dev). By default uses the values from hack/build.sh'
        required: true
        type: string
      git_ref:
        default: 'main'
        description: Git ref to checkout the cloud-api-adaptor repository. Defaults to main.
        required: false
        type: string
    secrets:
      QUAY_PASSWORD:
        required: true


permissions: {}

jobs:
  peerpod_push:
    name: build and push peerpod-ctrl
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: src/peerpod-ctrl
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: "${{ inputs.git_ref }}"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Login to Quay container Registry
        if: ${{ startsWith(inputs.registry, 'quay.io') }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: quay.io
          username: ${{ vars.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Login to Github Container Registry
        if: ${{ startsWith(inputs.registry, 'ghcr.io') }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Validate build args contains the essentials
        run: |
           make list-build-args | grep -e 'CGO_ENABLED=[0|1]' && \
           make list-build-args | grep 'GOFLAGS=' | grep -E '\-tags=[a-z,]*'
      - name: Determine tags
        id: tags
        run: |
          tags="${{ inputs.image_tags }}"
          tags_new=""
          for t in ${tags/,/ }; do
          tags_new+="${{ inputs.registry }}/peerpod-ctrl:${t},"
          done
          echo "tags=${tags_new}" >> "$GITHUB_OUTPUT"
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          tags: ${{ steps.tags.outputs.tags }}
          push: true
          context: src
          file: src/peerpod-ctrl/Dockerfile
          platforms: linux/amd64, linux/s390x, linux/ppc64le
          build-args: |
            GOFLAGS=-tags=aws,azure,ibmcloud,ibmcloud_powervs,vsphere,libvirt
