# Copyright Confidential Containers Contributors
# SPDX-License-Identifier: Apache-2.0
#
# Build and push the pod VM images.
---
name: Publish pod VM Images
on:
  workflow_dispatch:

permissions: {}

jobs:
  podvm_builder:
    uses: ./.github/workflows/podvm_builder.yaml
    with:
      git_ref: ${{ github.sha }}
      image_tag: ${{ github.sha }}
    permissions:
      contents: read
      packages: write
    secrets:
      QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}

  podvm_binaries:
    needs: [podvm_builder]
    uses: ./.github/workflows/podvm_binaries.yaml
    with:
      git_ref: ${{ github.sha }}
      image_tag: ${{ github.sha }}

    permissions:
      contents: read
      packages: write
    secrets:
      QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
  podvm:
    needs: [podvm_binaries]
    uses: ./.github/workflows/podvm.yaml
    with:
      git_ref: ${{ github.sha }}
      image_tag: ${{ github.sha }}
    permissions:
      contents: read
      packages: write
    secrets:
      QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}

  podvm-mkosi:
    uses: ./.github/workflows/podvm_mkosi.yaml
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, s390x, arm64]
    with:
      git_ref: ${{ github.sha }}
      image_tag: ${{ github.sha }}
      arch: ${{ matrix.arch}}
      debug: false
    secrets:
      QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
