# Copyright Confidential Containers Contributors
# SPDX-License-Identifier: Apache-2.0
#
# Build and push the pod VM images.
---
name: Publish pod VM Images
on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  podvm_builder:
    uses: ./.github/workflows/podvm_builder.yaml
    with:
      git_ref: ${{ github.sha }}
      image_tag: ${{ github.sha }}
    secrets: inherit

  podvm_binaries:
    needs: [podvm_builder]
    uses: ./.github/workflows/podvm_binaries.yaml
    with:
      git_ref: ${{ github.sha }}
      image_tag: ${{ github.sha }}
    secrets: inherit

  podvm:
    needs: [podvm_binaries]
    uses: ./.github/workflows/podvm.yaml
    with:
      git_ref: ${{ github.sha }}
      image_tag: ${{ github.sha }}
    secrets: inherit

  podvm-mkosi:
    uses: ./.github/workflows/podvm_mkosi.yaml
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, s390x]
    with:
      git_ref: ${{ github.sha }}
      image_tag: ${{ github.sha }}
      arch: ${{ matrix.arch}}
      debug: false
    secrets: inherit
