name: smoke test

on:
  pull_request:

jobs:
  podvm-mkosi:
    # We're pinning the runner to 22.04 b/c libvirt struggles with the
    # OVMF_CODE_4M firmware that is default on 24.04.
    runs-on: 'ubuntu-22.04'

    defaults:
      run:
        working-directory: src/cloud-api-adaptor/podvm-mkosi

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      # Required by rootless mkosi on Ubuntu 24.04
      # - name: Un-restrict user namespaces
      #   run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            genisoimage \
            qemu-utils \
            socat \
            virt-manager
          sudo snap install yq

      - name: Read properties from versions.yaml
        working-directory: src/cloud-api-adaptor
        run: |
          {
            echo "MKOSI_VERSION=$(yq -e '.tools.mkosi' versions.yaml)";
            echo "ORAS_VERSION=$(yq -e '.tools.oras' versions.yaml)";
            echo "KATA_REF=$(yq -e '.oci.kata-containers.reference' versions.yaml)";
            echo "KATA_REG=$(yq -e '.oci.kata-containers.registry' versions.yaml)";
          } >> "$GITHUB_ENV"

      - uses: oras-project/setup-oras@8d34698a59f5ffe24821f0b48ab62a3de8b64b20 # v1
        with:
          version: ${{ env.ORAS_VERSION }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3

      - name: Build binaries
        run: make binaries

      - name: Disable TLS for agent-protocol-forwarder
        run: |
          mkdir -p ./resources/binaries-tree/etc/default
          echo "TLS_OPTIONS=-disable-tls" > ./resources/binaries-tree/etc/default/agent-protocol-forwarder

      - name: Build image
        run: make image

      - name: Install kata-agent-ctl
        run: |
          oras pull "${KATA_REG}/agent-ctl:${KATA_REF}-x86_64"
          tar xf kata-static-agent-ctl.tar.xz
          cp opt/kata/bin/kata-agent-ctl /usr/local/bin

      - name: Run smoke test
        run: |
          ../podvm/hack/smoke_test.sh -d build/podvm-fedora-amd64.qcow2
