name: (Callable) Build and push podvm_binaries image
on:
  workflow_call:
    inputs:
      registry:
        default: 'quay.io/confidential-containers'
        required: false
        type: string
      image_tag:
        default: ''
        required: false
        type: string
      git_ref:
        description: Git ref to checkout the cloud-api-adaptor repository.
        required: true
        type: string

jobs:
  build:
    name: Create pod vm binaries image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [centos, ubuntu]
        arch: [amd64, s390x]
        include:
          - os: centos
          - os: ubuntu
        exclude:
          - os: centos
            arch: s390x
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: "${{ inputs.git_ref }}"

    - name: Rebase the code
      if: github.event_name == 'pull_request_target'
      run: |
        ./hack/ci-helper.sh rebase-atop-of-the-latest-target-branch

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker container Registry
      uses: docker/login-action@v2
      with:
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Login to Quay container Registry
      if: ${{ startsWith(inputs.registry, 'quay.io') }}
      uses: docker/login-action@v2
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Login to Github Container Registry
      if: ${{ startsWith(inputs.registry, 'ghcr.io') }}
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      run: make podvm-binaries
      env:
          PUSH: true
          REGISTRY: ${{ inputs.registry }}
          ARCH: ${{ matrix.arch }}
          PODVM_TAG: ${{ inputs.image_tag }}
          PODVM_DISTRO: ${{ matrix.os }}
