name: (Callable) Build and push podvm images
on:
  workflow_call:
    inputs:
      registry:
        default: 'quay.io/confidential-containers'
        required: false
        type: string
      image_tag:
        default: ''
        required: false
        type: string
      git_ref:
        description: Git ref to checkout the cloud-api-adaptor repository.
        required: true
        type: string
    secrets:
      QUAY_PASSWORD:
        required: true

defaults:
  run:
    working-directory: src/cloud-api-adaptor

permissions: {}

jobs:
  build:
    name: Create pod vm image
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
        arch: [amd64, s390x]
        provider: [generic, vsphere]
        include:
          - os: ubuntu
        exclude:
          - provider: vsphere
            arch: s390x
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout Code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
        ref: "${{ inputs.git_ref }}"

    - name: Rebase the code
      if: github.event_name == 'pull_request_target'
      working-directory: ./
      run: |
        ./hack/ci-helper.sh rebase-atop-of-the-latest-target-branch

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

    - name: Login to Quay container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      if: ${{ startsWith(inputs.registry, 'quay.io') }}
      with:
        registry: quay.io
        username: ${{ vars.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Login to Github Container Registry
      if: ${{ startsWith(inputs.registry, 'ghcr.io') }}
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      run: make podvm-image
      env:
        PUSH: true
        REGISTRY: ${{ inputs.registry }}
        ARCH: ${{ matrix.arch }}
        PODVM_TAG: ${{ inputs.image_tag }}
        PODVM_DISTRO: ${{ matrix.os }}
        CLOUD_PROVIDER: ${{ matrix.provider }}
        PACKER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
