bases:
- ../../yamls
nameSuffix: -vsphere

images:
- name: kustomize.this/cloud-api-adaptor/image:url
  newName: quay.io/confidential-containers/cloud-api-adaptor-vsphere # change image if needed
  newTag: latest

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: peer-pods-cm
  namespace: confidential-containers-system
  literals:
  - CLOUD_PROVIDER="vsphere"
  - GOVC_URL="" # set
  #- PAUSE_IMAGE="" # Uncomment and set if you want to use a specific pause image
  #- VXLAN_PORT="" # Uncomment and set if you want to use a specific vxlan port. Defaults to 4789

secretGenerator:
- name: auth-json-secret
  namespace: confidential-containers-system
  files:
  #- auth.json # set - path to auth.json pull credentials file
- name: peer-pods-secret
  namespace: confidential-containers-system
  literals:
  - GOVC_USERNAME="" # set
  - GOVC_PASSWORD="" # set

patchesStrategicMerge:
  #- cri_runtime_endpoint.yaml # set (modify host's runtime cri socket path in the file, default is /run/containerd/containerd.sock)
